html {
  background-color: #222;
  color: #fff;
}

body {
  margin: 0;
}

.hidden {
  display: none !important;
}

/* RootUi
 **************************************************************/
 
.RootUi {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;
}

.InputUi {
  background-color: #066;
  flex: 1;
}

.OutputUi {
  background-color: #660;
  min-height: 200px;
}
